.cadastro{
  background: var(--color-white);
  padding: 1em;
}
.cadastro_title .cadastro_text{
  color: var(--azul-degrade);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5em;
}
.cadastro_title{
  font-size: 18px ;
  font-weight: 500;
}
.cadastro_text{
  font-weight: 300;
  margin: 1em 0;
}
.cadasto_email{
  border-radius: 24px;
  border: 1px solid  var(--color-terciario);
  background-color: transparent ;
  width: 90%;
  padding: 1em;
  color: var(--color-terciario);
  
}
.cadasto_email::placeholder{
  background: url("../img/Email.svg") no-repeat;
  font-family: var(--font-principal);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-terciario);
  padding-left: 2em;
}

@media screen and (min-width: 1024px) {
  .cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    
  }
  .cadastro_1024px{
    width: 30%;
  }
  .cadasto_email{
    width: 30%;
  }
  .cadastro_title{
    font-size: 24px;
  } 
}

@media screen and (min-width: 1728px) {
  .cadastro_title{
    font-size: 24px;
  }
  .cadasto_email{
    width: 20%;
  }
  .cadastro_infos{
    width: 24%;
    padding: 0 1em;
  }
  .cadastro{
    padding: 4em 0;
  }
  
}